/* Variáveis CSS */

:root {
    --lilac: rgb(165,154,186);
    --grey: rgb(100,98,161);
    --tellurite: rgb(67,145,161);
    --ice: rgb(156,187,205);
    --mustard: rgb(207,160,72);
    --gold: rgb(238,202,82);
    --grayish: rgb(185,182,203);
    --purple: rgb(140,144,179);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* -------------------------------------------------------- */


/* Cabeçalho/header */

header{
    grid-area: header;
    padding: 2rem;
    background-color: var(--lilac);
} 

/*  Container principal */
.container-main {
    grid-area: principal;
    display: flex;
}

/* Menu */

nav {
    position: absolute;
    width: 15vw;
    height: 0;
    top: 8rem;
    left: 1.8rem;
    background: var(--tellurite);
    transition: 0.5s;
    overflow: hidden;
}

nav span {
    height: 0;
}

nav ul li {
    padding: 10px 0;
}

nav ul {
    padding: 8px 0;
    list-style: none;
}

nav ul li a{
    margin: 0 10px;
    transition: 0.3;
}

nav ul {
    background: var(--tellurite);
    padding: 8px 0;
    list-style: none;
}

nav ul li a{
    margin: 0 10px;
}

/* Conteúdo principal */
main {
    height: 100vh;
    width: 100rem;
    padding: 1rem;
    text-align: center;
    display: flex;
    margin-left: 5rem;
    justify-content: center;
}



/* Parte da tela do jogo game.html */


.scenery {
    width: 70vw;
    height: 100%;
    background: url("../teste/cenario.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #ddd;
    contain: content;
}


.story-container {
    background-color:crimson;
    margin: 1rem;
    padding: 1rem;
    border-radius: 6px;
}


.buttons-container {
    position: absolute;
    z-index: 7;
    left: 0;
    bottom: 0rem;
    margin: 1rem;
    display: flexbox;
    flex-direction: row;
    width: 96%;
}

.buttons-container button {
    width: 100%;
    margin: 2px 0;
    padding: 4px 10px;
    text-align: left;
    background: blueviolet;
}



/* Balão de fala */
.bubble-container {
    position: absolute;
    width: 17rem;
    display: flex;
    left: 34rem;
    top: 6rem;
    z-index: 4;
}

#bubble {
    max-width: 25rem;
    padding: 3rem;
    flex-wrap: wrap;
    background: #fff;
    position: relative;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    word-wrap: break-word;
    
  }

  #bubble:before {
    content: "";
    position: absolute;
    bottom: 1rem;
    right: 14rem;
    height: 25px;
    width: 30px;
    border-radius: 80px 100px 100px 160px;
    box-shadow: 14px 10px 0 0 rgb(255, 255, 255);
  }


.char-container {
    width: 100%;
    height: 100vh;
    display: inline;
}

.char {
    height: 100%;
    margin-top: 20rem;
    transform: scale(1.5);
}

#img-personagem-1 {
    /* position: absolute; */
    z-index: 1;
}

#img-personagem-2 {
    margin-top: calc(20rem - 2.5rem);
    position: absolute;
    left: 6rem;
    z-index: -2;
}

#img-personagem-3 {
    margin-top: calc(20rem - 2.5rem);
    position: absolute;
    right: 6rem;
    z-index: -3;
}

#img-personagem-4 {
    margin-top: calc(20rem - 5rem);
    position: absolute;
    left: 30rem;
    z-index: -4;
}

#img-personagem-5 {
    margin-top: calc(20rem - 5rem);
    position: absolute;
    right: 30rem;
    z-index: -5;
}

/*  Rodapé/footer */
footer {
    grid-area: footer;
    padding: 2rem;
    background-color: var(--lilac);
}

